body {

    background-color: #cfcfd3;
margin: 0%;

}

* {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;

}


.side  {

background: rgb(38,97,189);
background: linear-gradient(90deg, rgba(38,97,189,1) 32%, rgba(244,107,0,1) 61%, rgba(255,206,0,1) 100%);
height: 100%;
width: 400px;
display: block;
position: absolute;
float: left;


}
 #senaclogo {

height: 210px;
width: 360px;
padding-left: 19px;
padding-top: 50%;

}



legend {

font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
font-size: 40px;
text-shadow: 0px 0px 4px white;
margin-left: 95px;
font-weight: bold;
position: absolute;
color: rgb(35, 35, 95)



}

fieldset {

padding: 4%;
padding-top: 5%;
float: right;
margin-right: 20%;
margin-top: 5%;
height: 400px;
width: 300px;
text-align: center;
background-color: white;
border-radius: 5%;
border-style: none;
box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 3px 13px 0px rgba(0,0,0,0.75);
}

input {

padding: 2%;
padding-left: 15%;
margin: 2%;
background-color: rgb(216, 216, 216);
border-style: none;
border-radius: 0%;


}

button {

margin-top: 2%;
padding: 2%;
padding-left: 5%;
padding-right: 5%;
border-style: none;
background-color: rgb(20, 20, 95);
color: white;

}

a {

margin-top: 10%;
text-decoration: none;
color: rgb(33, 33, 114);

}

.usuari0 {

padding-top: 20%;

}